<div class="row justify-content-center" id="body">
  <div class="col-md-4 photo">
    <p><strong>American-Made in Denver, Colorado</strong></p>
    <img class="img-fluid" src="../../assets/aboutIntro.jpg" alt="">
  </div>
  <div class="col-md-6">
    <h3 class="text-right">Exponential Potentional</h3>
    <p class="text-justify">We specialize in creating technological solution to business problems. Our expertise is in enabling entreprenuers, small-business
      owners and creative professionals to be more efficient, effective, and energized through technology. Whether local
      or across the globe, 5280Free is committed empowering others with technology.
      <br>
      <br> Technologies we work with include web frameworks such as Angular/Ionic, Bootstrap,and Wordpress. Office automation
      with Visual Basic (VBA) and application programming with Android/Java as well as Python.
    </p>
  </div>
</div>
<div class="row justify-content-center" id="body">
  <div class="col-md-4 photo">
    <img class="img-fluid" src="../../assets/aboutIntro.jpg" alt="">
    <p><strong>American-Made in Denver, Colorado</strong></p>
  </div>
  <div class="col-md-6">
    <h3 class="text-right">Humble Beginnings</h3>
    <p class="text-justify">A Colorado-Based startup company, founded by Jakob "Jake" Essig. 5280Free was founded after working at a local e-marketing
      company while finishing his Master's Degree in Software Engineering from Regis University. Jake saw the power an online
      presence with effective use of data collection and analytics had to transform the lives and businesses of his clients.
      <br>
      <br> Jake has gone on to work as a Software Engineer at a Fortune 500 Engineering firm. While most of his work involves
      embedded systems and enterprise-level applications, web-based technologies hold a special place in his programming
      arsenal.
    </p>
  </div>
</div>
<hr>
<div class="row justify-content-center" id="body">
  <div class="col-md-8">
    <h3 class="text-center">Sample Our Work</h3>
      <div class="card-group">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Github</div>
          <div class="card-body">
            <h5 class="card-title">Coding Samples</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">CodePen</div>
          <div class="card-body">
            <h5 class="card-title">Web Design Examples</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Behance</div>
          <div class="card-body">
            <h5 class="card-title">Creative Works</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  </div>
</div>
<hr>
<div class="container">
<div class="row justify-content-center" id="close">
  <div class="col-md-10">
    We want to make technology work for you! If you have questions or concerns our Inboxes are always open. We offer flexible
    options expertise in the industry, if we can't fulfill your requests we will help you find what you are looking for.
    <br>
    <br>
      <button class="btn btn-primary content-center">Contact Us</button>
  </div>
</div>
</div>
