
.about{
    margin-top: 1.8rem;
}
#mainContent{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.photo{
    margin-top: 0rem;
    height: auto;
}
#body{
    margin-top: 3rem;
    padding: 1rem 0rem 1rem;
}
.container{
    margin-bottom: 5rem;
}
#close{
    margin-bottom: 5vh;
    margin-top: 3rem;
}
.card-title{
    font-size: 1.5rem;
}
.card-text{
    font-size: 1rem;
}
.card-header{
    font-size: 2rem;
}
.card{
    margin-right: 1.5rem;
}
@media  only screen and (max-width: 1160px) {
    .card-group {
        display: inline-block;
        width: 100%;
        margin-right: 0;
    }
    #body{
        margin-bottom: 1rem;
    }
    .about{
        align-content: center;
        margin-top: 1.8rem;
        display: inline-block;
        width: 100%;
    }
    .photo{
        
        align-content: center;
        display: inline-block;
        width: 100%;
    }

}
.card-group{
    padding: 2rem;
}
.heading>h1{
    font-size: 6rem;
    margin-top: 3rem;
}
.outro{
    font-size: 2.5rem;
}
@media only screen and (max-width: 1550px) {
    .heading>h1{
        font-size: 4em;
    }
    .outro{
        font-size: 1.75rem;
    }

}
@media only screen and (max-width: 600px) {

    .heading>h1{
        font-size: 2.7rem;
    }
    .outro{
        font-size: 1.2rem;
    }
}
.heading{
    vertical-align: middle;
    height: 20rem;
    padding: 4rem 1rem 1rem;
    width: 100%;
    color:rgba(255, 238, 0, 0.986);
    text-shadow: 2px 2px 6px rgb(223, 219, 219);
   background-size: 100%;
    background: url(../../../assets/aboutBack.jpg);
    background-repeat: no-repeat;

}

img{
    margin-top: 6rem;
    height: 25rem;
}
#portfolio{
    margin-top: 3.5rem;
    background-color: lightgray;
    box-shadow: 0 0 5px  black, 0 0 3px  black;
    padding: 2rem;
}
a{
    text-decoration: none;
}
hr.divide{
    border:.7px solid;
    width: 90%;
    box-shadow: 2px 2px 3px;
}
i{
    font-size: 3.5rem;
}