<div class="justify-content-center text-center" id="mainContent">
  <h1>Tech Experts</h1>
  <p>
    We empower others to harness the strength of technology!
  </p>
</div>
<hr>
<div class="row justify-content-center" id="body">
  <div class="col-md-4 photo">
    <p>American-Made located in Denver, Colorado</p>
    <img class="img-fluid" src="../../assets/aboutIntro.jpg" alt="">
  </div>
  <div class="col-md-6">
    <h3 class="text-right">Exponential Potentional</h3>
    <p class="text-justify">We specialize in creating technological solution to business problems. Our expertise is in enabling entreprenuers, small-business
      owners and creative professionals to be more efficient, effective, and energized through technology. Whether local
      or across the globe, 5280Free is committed empowering others with technology.
      <br>
      <br> Technologies we work with include web frameworks such as Angular/Ionic, Bootstrap,and Wordpress. Office automation
      with Visual Basic (VBA) and application programming with Android/Java as well as Python.
    </p>
  </div>
</div>
<div class="row justify-content-center" id="body">
  <div class="col-md-4 photo">
    <p>American-Made located in Denver, Colorado</p>
    <img class="img-fluid" src="../../assets/aboutIntro.jpg" alt="">
  </div>
  <div class="col-md-6">
    <h3 class="text-left">Humble Beginnings</h3>
    <p>A Colorado-Based startup company, founded by Jakob "Jake" Essig. 5280Free was founded after working at a local e-marketing
      company while finishing his Master's Degree in Software Engineering from Regis University. Jake saw the power an online
      presence with effective use of data collection and analytics had to transform the lives and businesses of his clients.
      <br>
      <br> Jake has gone on to work as a Software Engineer at a Fortune 500 Engineering firm. While most of his work involves
      embedded systems and enterprise-level applications, web-based technolgoies hold a special place in his programming
      arsenal.
    </p>
  </div>
</div>
<div class="row justify-content-center" id="close">
  <div class="col-md-10">
    We want to make technology work for you! If you have questions or concerns our Inboxes are always open. We offer flexible
    options expertise in the industry, if we can't fulfill your requests we will help you find what you are looking for.
    <br>
    <br>
    <p class="text-center">Checkout out what we are working on below or
      <button>Contact Us</button>
    </p>
  </div>
</div>