#mainContent{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.photo{
    padding-top: 2rem;
}
#body{
    margin-top: 3rem;
    padding: 1rem 0rem 1rem;
}
.container{
    margin-bottom: 5rem;
}
#close{
    margin-bottom: 5vh;
}
.card-title{
    font-size: 1.5rem;
}
.card-text{
    font-size: 1rem;
}
.card-header{
    font-size: 2rem;
}
@media  (max-width: 1400px) {
    .card {
        width: 100%;
    }
}
.card-group{
    padding: 2rem;
}