<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<div class="row justify-content-center">
    <div class="jumbotron text-center">
        <h1 class="display-4">What Does the Future Look-Like?</h1>
        <p class="lead">Technology is rapidly revolutionizing the world we live in, we help you keep up with the change</p>
        <hr class="my-4">
        <p>5280Free is Your Partner for the Future, serving all client's needs from passion projects to international
            business.
            We focus on technology so you can focus on what makes you amazing!
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">How Can We Help?</a>
        </p>
    </div>

    <div class="body">
        <div class="row text-center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Web Services</h5>
                        <p class="card-text">Full-Stack Development, Mobile First Design Philosophy</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enterprise Applications</h5>
                        <p class="card-text">Productivity or Full Featured Apps</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Business Intelligence &amp; Infrastructure</h5>
                        <p class="card-text">Amazon Web Service &amp; Data Driven Insights</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center text-center" id="tech">
                <h2 class="text-center">Technologies We Use</h2>
                <i class="fab fa-angular"></i>
                <i class="fab fa-aws"></i>
                <i class="fab fa-wordpress big"></i>
                <i class="fab fa-docker big"></i>
                <i class="fab fa-python"></i>
                <i class="fab fa-java big"></i>
            </div>
    </div>
</div>
