<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">What Does the Future Look-Like?</h1>
        <p class="lead">Technology is rapidly revolutionizing the world we live in, we help you keep up with the change</p>
        <hr class="my-4">
        <p>Offering Services From Websites to Automation, 5280Free is Your Partner for the Future</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <div class="body">


    </div>
</div>