<div class="container-fluid">
  <div class="col-md-12">
  <div class="row justify-content-center">
    <div class="col-md">
      <div class="jumbotron">
        <h2 class="text-center">Free Estimate With 30 Minute Consultation</h2>
        <p class="text-center">Fill out the form below, we will contact you in 72 business-hours</p>
      </div>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-md" id="order-form">
        <form [formGroup]="form" (ngSubmit)="onSubmitOrder()">
            <div *ngFor="let question of questions" class="form-row">
                <app-order-questions [question]="question" [form]="form"></app-order-questions>
              </div>
        <div class="form-row">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>

