
.service-offerings{
    border-style: solid;
    height: auto;
    border-width: 2px;
    padding: 2rem;
}
#serviceTitle{
    padding-bottom: 5px;
}
#serviceBody{
    margin-bottom: 17px;
    width: 85%;
    height: 70rem;;
}
span.btn{
    margin-top: 2px;
    border-radius: 6px;
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
}
.menu{
    margin-top: 3rem;
}
.card-deck{
    margin-top: 3rem;
}
#questions{
    padding-top: 5rem;
}
.container-fluid{
    margin-bottom: 5rem;
}

.jumbotron{
    padding: 1 rem;
}
@media(max-width: 1000px){
    .btn{
        text-align: center;
        width: 60%;
        padding: 2px;
    }
}

.heading>h1{
    font-size: 6rem;
    margin-top: 3rem;
}
@media only screen and (max-width: 1550px) {
    .heading>h1{
        font-size: 4em;
    }
}
@media only screen and (max-width: 600px) {

    .heading>h1{
        font-size: 2.7rem;
    }
}
.heading{
    vertical-align: middle;
    height: 20rem;
    padding: 4rem 1rem 1rem;
    width: 100%;
    color:rgba(255, 238, 0, 0.986);
    text-shadow: 2px 2px 6px rgb(223, 219, 219);
   background-size: contain;
    background: url(../../../assets/servicesTitle.jpg);

}
