h1{
    text-align: right;
}
.service-offerings{
    border-style: solid;
    height: 15rem;
    border-width: 2px;
}
#serviceTitle{
    padding-bottom: 5px;
}
#serviceBody{
    margin-bottom: 17px;
}
span.btn{
    margin-top: 2px;
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    margin-right: 2px;
    margin-left: 2px;
}
.menu{
    margin-top: 3rem;
}
.card-deck{
    margin-top: 3rem;
}
#questions{
    padding-top: 5rem;
}
.container-fluid{
    margin-bottom: 5rem;
}

.jumbotron{
    padding: 1 rem;
}
@media(max-width: 700px){
    .btn{
        width: 100%;
    }
}