<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>
<div class="heading text-center col-lg" >
    <h1 class="align-middle">Customized Software Solutions</h1>  
</div>
<div class="container-fluid">
  <div class="row justify-content-center" style="margin-top:3rem;">
    <div class="service-offerings" id="serviceBody">
      <app-services-detail [service]="selectedService"></app-services-detail>
    </div>
    <div class="row justify-content-center" id="serviceNav">
        <span style="font-size:1.5rem;"class="btn btn-primary" *ngFor="let service of services" [class.selected]="service === selectedService"
          (click)="onSelect(service)">{{service.name}}</span>
      </div>
  </div>
</div>