i{
    color: black;
    font-size: 5rem;
    padding: 1rem;
}
#tech{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.card{
    display: inline-block;
}
.body{
    margin-top: 3rem;
}
.jumbotron{
    box-shadow: .1rem .2rem .5rem .5rem;
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .big {
        display: none;
    }
}
    .col-md{
        margin-top:2.5rem;
    }