<div class="col-md " *ngIf="service; else test">
    <div class="row justify-content-center">
        <h2 style="font-size: 2rem;">{{service.name}}</h2>
    </div>
    <div class="row justify-content-center" style="margin-bottom:2rem;">
        <div class="col-md-4">
            <img src={{service.image}} alt="" class="serviceImage">
        </div>
        <div class="col-md-6">
            <p style="font-size:1.5rem" class="serviceDescription">{{service.description}}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="text-center">
                Who Uses These Services?
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-md-8">
                <ul>
                    <li>{{service.user1}}</li>
                    <li>{{service.user2}}</li>
                    <li>{{service.user3}}</li>
                </ul>
            </div>
        </div>
    <div class="row justify-content-center">
        <h3>Technologies Used:</h3>
        <p>{{service.tech}}</p>
    </div>
</div>


<!--Default Value-->
<ng-template #test>
    <div class="row justify-content-center">
        <h2 class="" style="font-size: 3.5rem;">Select one of the Services Below to Learn More</h2>
    </div>
</ng-template>

<!--Web Detail-->
<ng-template #web let-c="close" let-d="dismiss">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
        <ngb-panel title="Web Services">
            <ng-template ngbPanelContent>
                <h3 class="text-center">Web Serivces</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p class="text-justify">Mobile-responsive, platform agnostic web services.
                            Engage and connect with your online audience, carve
                            out your piece of online real estate. Make your mark
                            on the internet.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Static Websites and Landing Pages</li>
                            <li>WordPress Blogs</li>
                            <li>Social Media Strategy and Integration</li>
                            <li>Search Engine Optomization (SEO)</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>

            </ng-template>
        </ngb-panel>
        <ngb-panel title="Apps &amp; Tools">
            <ng-template ngbPanelContent>
                <h3 class="text-center">Tools &amp; Apps</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p class="text-justify ">Sophisticated, complex, powerful applications and tools.
                            Increase productivity or create a product with tools and applications
                            tailored specifically to your needs. Full-stack expertise!
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="">
                            <li>Web Applications</li>
                            <li>Desktop Applications</li>
                            <li>Android Native Apps</li>
                            <li>Productivity Tools</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="DevOps Cloud Automation">
            <ng-template ngbPanelContent>
                <h3 class="text-center">DevOps Cloud Automation</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p class="text-justify">Bring your ideas from the drawing board to development to operations
                            seemlessly. Automated cloud-based DevOps solutions at every stage of production,
                            usings cutting edge technology and tools.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>End to End Build Automation</li>
                            <li>AWS Integration</li>
                            <li>Virtual Cloud Computing Infrastructure</li>
                            <li>Seemless Integration and Deployment</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!--App Detail-->
<ng-template #apps let-c="close" let-d="dismiss">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
        <ngb-panel title="Web Services">
            <ng-template ngbPanelContent>
                <h3>Web Serivces</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p>Mobile-responsive, platform agnostic web services.
                            Engage and connect with your online audience, carve
                            out your piece of online real estate. Make your mark
                            on the internet.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Static Websites and Landing Pages</li>
                            <li>WordPress Blogs</li>
                            <li>Social Media Strategy and Integration</li>
                            <li>Search Engine Optomization (SEO)</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>

            </ng-template>
        </ngb-panel>
        <ngb-panel title="Apps &amp; Tools">
            <ng-template ngbPanelContent>
                <h3>Tools &amp; Apps</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p>Sophisticated, complex, powerful applications and tools.
                            Increase productivity or create a product with tools and applications
                            tailored specifically to your needs. Full-stack expertise!
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Web Applications</li>
                            <li>Desktop Applications</li>
                            <li>Android Native Apps</li>
                            <li>Productivity Tools</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="DevOps Cloud Automation">
            <ng-template ngbPanelContent>
                <h3>DevOps Cloud Automation</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p>Bring your ideas from the drawing board to development to operations
                            seemlessly. Automated cloud-based DevOps solutions at every stage of production,
                            usings cutting edge technology and tools.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>End to End Build Automation</li>
                            <li>AWS Integration</li>
                            <li>Virtual Cloud Computing Infrastructure</li>
                            <li>Seemless Integration and Deployment</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!--DevOps-->
<ng-template #auto let-c="close" let-d="dismiss">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
        <ngb-panel title="Web Services">
            <ng-template ngbPanelContent>
                <h3>Web Serivces</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p>Mobile-responsive, platform agnostic web services.
                            Engage and connect with your online audience, carve
                            out your piece of online real estate. Make your mark
                            on the internet.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Static Websites and Landing Pages</li>
                            <li>WordPress Blogs</li>
                            <li>Social Media Strategy and Integration</li>
                            <li>Search Engine Optomization (SEO)</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>

            </ng-template>
        </ngb-panel>
        <ngb-panel title="Apps &amp; Tools">
            <ng-template ngbPanelContent>
                <h3>Tools &amp; Apps</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p>Sophisticated, complex, powerful applications and tools.
                            Increase productivity or create a product with tools and applications
                            tailored specifically to your needs. Full-stack expertise!
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Web Applications</li>
                            <li>Desktop Applications</li>
                            <li>Android Native Apps</li>
                            <li>Productivity Tools</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="DevOps Cloud Automation">
            <ng-template ngbPanelContent>
                <h3>DevOps Cloud Automation</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p>Bring your ideas from the drawing board to development to operations
                            seemlessly. Automated cloud-based DevOps solutions at every stage of production,
                            usings cutting edge technology and tools.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>End to End Build Automation</li>
                            <li>AWS Integration</li>
                            <li>Virtual Cloud Computing Infrastructure</li>
                            <li>Seemless Integration and Deployment</li>
                        </ul>
                    </div>
                </div>
                <br>
                <span class="btn btn-primary" (click)="c('Close click')" routerLink="/order" style="margin:auto; display:block;">Get
                    A Free Estimate</span>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>